body
{
    background-color:ghostwhite;
}
.container
{
    margin-top: 2%;
}
.btn
{
    border-radius: 0px;
    width: 140px;
    height: 140px;
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
}